<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>時計</key>
	<dict>
		<key>Rolex</key>
		<dict>
			<key>名前</key>
			<string>Rolex</string>
			<key>画像</key>
			<string>rolex.image.png</string>
			<key>コメント</key>
			<string>持っているとイケメン</string>
		</dict>
		<key>Omega</key>
		<dict>
			<key>名前</key>
			<string>Omega</string>
			<key>画像</key>
			<string>omega.logo.ppg</string>
			<key>コメント</key>
			<string>ほげ</string>
		</dict>
	</dict>
	<key>自動車</key>
	<dict>
		<key>Japan</key>
		<dict>
			<key>TOYOTA</key>
			<dict>
				<key>名前</key>
				<string>TOYOTA</string>
				<key>画像</key>
				<string>Toyota.logo.jpg</string>
				<key>コメント</key>
				<string>日本の代表</string>
			</dict>
			<key>LEXUS</key>
			<dict>
				<key>名前</key>
				<string>LEXUS</string>
				<key>画像</key>
				<string>Lexus.logo.jpg</string>
				<key>コメント</key>
				<string>toyotaの高級車</string>
			</dict>
			<key>Honda</key>
			<dict>
				<key>名前</key>
				<string>Honda</string>
				<key>画像</key>
				<string>Honda.logo.jpg</string>
				<key>コメント</key>
				<string></string>
			</dict>
            <key>NISSAN</key>
            <dict>
                <key>名前</key>
                <string>NISSAN</string>
                <key>画像</key>
                <string>Nissan.logo.jpg</string>
                <key>コメント</key>
                <string>日本の代表</string>
            </dict>
            <key>MITSUBISHI</key>
            <dict>
                <key>名前</key>
                <string>MITSUBISHI</string>
                <key>画像</key>
                <string>Mitsubishi.logo.png</string>
                <key>コメント</key>
                <string>日本の代表</string>
            </dict>
            <key>MAZDA</key>
            <dict>
                <key>名前</key>
                <string>MAZDA</string>
                <key>画像</key>
                <string>Mazda.logo.jpeg</string>
                <key>コメント</key>
                <string>日本の代表</string>
            </dict>
            <key>SUBARU</key>
            <dict>
                <key>名前</key>
                <string>SUBARU</string>
                <key>画像</key>
                <string>Subaru.logo.png</string>
                <key>コメント</key>
                <string>日本の代表</string>
            </dict>
            <key>INFINITI</key>
            <dict>
                <key>名前</key>
                <string>INFINITI</string>
                <key>画像</key>
                <string>Infiniti.logo.jpg</string>
                <key>コメント</key>
                <string>日本の代表</string>
            </dict>
            <key>ACURA</key>
            <dict>
                <key>名前</key>
                <string>ACURA</string>
                <key>画像</key>
                <string>Acura.logo.png</string>
                <key>コメント</key>
                <string>日本の代表</string>
            </dict>
		</dict>
		<key>Germany</key>
		<dict>
			<key>Porsche A.G.</key>
			<dict>
				<key>名前</key>
				<string>Porsche A.G.</string>
				<key>画像</key>
				<string>Porsche.logo.png</string>
				<key>コメント</key>
				<string>ほげほげ</string>
			</dict>
			<key>BMW</key>
			<dict>
				<key>名前</key>
				<string>BMW</string>
				<key>画像</key>
				<string>BMW.logo.png</string>
				<key>コメント</key>
				<string>ふがふが</string>
			</dict>
            <key>MercedesBenz</key>
            <dict>
                <key>名前</key>
                <string>MercedesBenz</string>
                <key>画像</key>
                <string>MercedesBenz.logo.png</string>
                <key>コメント</key>
                <string>ふがふが</string>
            </dict>
            <key>Volkswagen AG</key>
            <dict>
                <key>名前</key>
                <string>Volkswagen AG</string>
                <key>画像</key>
                <string>Volkswagen.logo.png</string>
                <key>コメント</key>
                <string>ふがふが</string>
            </dict>
            <key>Audi</key>
            <dict>
                <key>名前</key>
                <string>Audi</string>
                <key>画像</key>
                <string>Audi.logo.png</string>
                <key>コメント</key>
                <string>ふがふが</string>
            </dict>
            <key>MINI</key>
            <dict>
                <key>名前</key>
                <string>MINI</string>
                <key>画像</key>
                <string>Mini.logo.png</string>
                <key>コメント</key>
                <string>ふがふが</string>
            </dict>
            <key>Opel</key>
            <dict>
                <key>名前</key>
                <string>Opel</string>
                <key>画像</key>
                <string>Opel.logo.png</string>
                <key>コメント</key>
                <string>ふがふが</string>
            </dict>
            <key>Gumpert</key>
            <dict>
                <key>名前</key>
                <string>Gumpert</string>
                <key>画像</key>
                <string>Gumpert.logo.png</string>
                <key>コメント</key>
                <string>ふがふが</string>
            </dict>
            <key>Brabus</key>
            <dict>
                <key>名前</key>
                <string>Brabus</string>
                <key>画像</key>
                <string>Brabus.logo.png</string>
                <key>コメント</key>
                <string>ふがふが</string>
            </dict>
            <key>Alpina</key>
            <dict>
                <key>名前</key>
                <string>Alpina</string>
                <key>画像</key>
                <string>Alpina.logo.jpg</string>
                <key>コメント</key>
                <string>ふがふが</string>
            </dict>
		</dict>
		<key>Italy</key>
		<dict>
			<key>Ferrari</key>
			<dict>
				<key>名前</key>
				<string>Ferrari</string>
				<key>画像</key>
				<string>Ferrari.logo.png</string>
				<key>コメント</key>
				<string>ほげげ</string>
			</dict>
            <key>Lamborghini</key>
            <dict>
                <key>名前</key>
                <string>Lamborghini</string>
                <key>画像</key>
                <string>Lamborghini.Logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Bugatti</key>
            <dict>
                <key>名前</key>
                <string>Bugatti</string>
                <key>画像</key>
                <string>Bugatti.logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Alfa Romeo</key>
            <dict>
                <key>名前</key>
                <string>Alfa Romeo</string>
                <key>画像</key>
                <string>AlfaRomeo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Diatto</key>
            <dict>
                <key>名前</key>
                <string>Diatto</string>
                <key>画像</key>
                <string>Diatto.logo.jpg</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Maserati S.p.A.</key>
            <dict>
                <key>名前</key>
                <string>Maserati S.p.A.</string>
                <key>画像</key>
                <string>Maserati.logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>FIAT</key>
            <dict>
                <key>名前</key>
                <string>FIAT</string>
                <key>画像</key>
                <string>Fiat.logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Lancia</key>
            <dict>
                <key>名前</key>
                <string>Lancia</string>
                <key>画像</key>
                <string>Lancia.logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Bertone</key>
            <dict>
                <key>名前</key>
                <string>Bertone</string>
                <key>画像</key>
                <string>Bertone.logo.jpg</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
		</dict>
		<key>UK</key>
		<dict>
			<key>Jaguar</key>
			<dict>
				<key>名前</key>
				<string>Jaguar</string>
				<key>画像</key>
				<string>Jaguar.logo.png</string>
				<key>コメント</key>
				<string>ほげほげ</string>
			</dict>
			<key>Bentley Motors</key>
			<dict>
				<key>名前</key>
				<string>Bentley Motors</string>
				<key>画像</key>
				<string>Bentley.logo.jpg</string>
				<key>コメント</key>
				<string></string>
			</dict>
			<key>Lotus Cars</key>
			<dict>
				<key>名前</key>
				<string>Lotus Cars</string>
				<key>画像</key>
				<string>Lotus.logo.jpg</string>
				<key>コメント</key>
				<string></string>
			</dict>
            <key>Rolls Royce</key>
            <dict>
                <key>名前</key>
                <string>Rolls Royce</string>
                <key>画像</key>
                <string>RollsRoyce.logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Land Rover</key>
            <dict>
                <key>名前</key>
                <string>Land Rover</string>
                <key>画像</key>
                <string>LandRover.Logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>MG Cars</key>
            <dict>
                <key>名前</key>
                <string>MG Cars</string>
                <key>画像</key>
                <string>MG.Logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Alfa Romeo</key>
            <dict>
                <key>名前</key>
                <string>Alfa Romeo</string>
                <key>画像</key>
                <string>AlfaRomeo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Diatto</key>
            <dict>
                <key>名前</key>
                <string>Diatto</string>
                <key>画像</key>
                <string>Diatto.logo.jpg</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Maserati S.p.A.</key>
            <dict>
                <key>名前</key>
                <string>Maserati S.p.A.</string>
                <key>画像</key>
                <string>Maserati.logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>FIAT</key>
            <dict>
                <key>名前</key>
                <string>FIAT</string>
                <key>画像</key>
                <string>Fiat.logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Lancia</key>
            <dict>
                <key>名前</key>
                <string>Lancia</string>
                <key>画像</key>
                <string>Lancia.logo.png</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
            <key>Bertone</key>
            <dict>
                <key>名前</key>
                <string>Bertone</string>
                <key>画像</key>
                <string>Bertone.logo.jpg</string>
                <key>コメント</key>
                <string>ほげげ</string>
            </dict>
		</dict>
		<key>US</key>
		<dict>
			<key>General Motors</key>
			<dict>
				<key>名前</key>
				<string>General Motors</string>
				<key>画像</key>
				<string>GM.jpg</string>
				<key>コメント</key>
				<string>ほげほげ</string>
			</dict>
		</dict>
		<key>others</key>
		<dict>
			<key>Hyundai</key>
			<dict>
				<key>名前</key>
				<string>Hyundai</string>
				<key>画像</key>
				<string>Hyundai.jpg</string>
				<key>コメント</key>
				<string>ほげ</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
